body{
    background-color: black;
    color: white;
}

.start{
    font-family: monospace;
    text-align: center;
    color: white;
}

.first{
    font-family: monospace;
    text-align: center;
    color: grey;
}
  
.button{
    border-radius: 15px;
}

