.first{
    font-family: monospace;
    text-align: center;
    color: red;
  }
  
.second{
    font-family: monospace;
    text-align: center;
    color: grey;
    background-color: black;
    font-size: large;
}